.fixed-header {
    height: 100px;
  }
  
  .portfolio-navbar.navbar {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  .gradient {
    background: linear-gradient(120deg,#ec0000, #dddddd);
    color: #fff;
  }
  
  .page-footer.container {
    background: #222222;
  }
  
  .page-footer {
    height: 100px;
    background: #dddddd;
  }
  
  .btn-primary {
    background-color: #ec0000;
    border-color: #ec0000;
  }
  
  .btn {
    border-radius: 0.25rem;
  }
  
  .button {
    align-self: flex-end;
  }
  
  